
<app-buttons></app-buttons>
<div id="container" class="cards">
          <div [id]="i" class="card" [class.show-answer]="answer" *ngFor="let user of users; index as i" (click)="toggleAnswer()" [class.left]="left" [class.active]=" i === 0">
    <div class="inner-card" *ngIf="i === updatedActive">
      <div class="inner-card-front">
        <p>
         Name:   {{user.name}}
        </p>
      </div>
      <div class="inner-card-back">
        <p>
         Email:   {{user.email}}
        </p>
      </div>
    </div>
  </div>
</div>
<app-navigation [cardsEl]="cardsEl" [users]="users" (left)="toggleLeft()" (active)="toggleActive($event)" (updateActive)="reciebeActive($event)"></app-navigation>
