<!-- <button id="clear" class="clear btn">
  <i class="fas fa-trash">Clear Cards</i>
</button> -->
<h1>Users List
  <button id="show" class="btn btn-small" (click)="reloadPage()">
    <i>Reload</i>
  </button>
</h1>
