h1 {
  position: relative;
  text-align: center;

  button {
    position: absolute;
    right: 0;

    z-index: 2;
  }

  .btn-small {
    font-size: 12px;
    padding: 5px 10px;
  }
}

.btn {
  cursor: pointer;
  background-color: #fff;
  border: 1px solid #aaa;
  border-radius: 3px;
  font-size: 14px;
  margin-top: 20px;
  padding: 10px 15px;
}

// .clear {
//   position: absolute;
//   bottom: 30px;
//   left: 30px;
// }
