<div class="navigation">
  <button id="prev" class="nav-button" (click)="prev()">
    <i class="fas fa-arrow-left"></i>
  </button>

  <p id="current"> {{ currentActive + 1}} / {{ cardsEl.length }}</p>

  <button id="next" class="nav-button" (click)="next()">
    <i class="fas fa-arrow-right"></i>
  </button>
</div>

