.btn {
  cursor: pointer;
  background-color: #fff;
  border: 1px solid #aaa;
  border-radius: 3px;
  font-size: 14px;
  margin-top: 20px;
  padding: 10px 15px;
}

.btn-small {
  font-size: 12px;
  padding: 5px 10px;
}

.btn-ghost {
  border: 0;
  background-color: transparent;
}

.navigation {
  display: flex;
  justify-content: center;
  margin: 20px 0;

  .nav-button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 16px;
  }

   p {
    margin: 0 25px;
  }
}
